.page {
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .homepage-content {
    text-align: center;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 90%;
    max-width: 1200px;
    height: auto;
    margin:auto;
    padding: 30px 50px;
    border: 1px solid;
    border-radius: 10px;
  }